@font-face {
  font-family: 'little city';
  src: url('./littlecity2000-rvpm-webfont.woff2');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: orange;
}

#container {
  font-size: large;
  font-family: 'little city', serif;
  display: grid;
  grid-template-areas:
    'v pop'
    'r map'
    'c map';
  grid-template-columns: 74vw 25vw;
  grid-template-rows: 74vh 15vh 10vh;
  border: 2px solid black;
}

#viewer {
  display: inline-grid;
  grid-area: v;
  grid-template-areas:
    'nw n ne'
    'w n e'
    'w me e';
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  border: 2px solid black;
  align-items: center;
  justify-items: center;
}

#n {
  grid-area: n;
}

#w {
  grid-area: w;
}

#e {
  grid-area: e;
}

#ne {
  grid-area: ne;
}

#nw {
  grid-area: nw;
}

#reader {
  grid-area: r;
  border: 2px solid black;
}

#command {
  grid-area: c;
  border: 2px solid black;
}

#pop {
  grid-area: pop;
  border: 2px solid black;
}

#map {
  grid-area: map;
  border: 2px solid black;
}
